createdAt: "2020-04-24T19:23:31.678Z"
updatedAt: "2020-04-24T19:25:18.574Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Bao Buns"
tags: []
content: '''
  # Bao Buns
  
  Taken from
  [How To Make Bao Buns - Marion's Kitchen](https://www.marionskitchen.com/how-to-make-bao-buns/)
  
  ---
  ## Specifications
  - Total time: Unknown
  - Prep time: Unknown
  - Yield: 14
  
  ---
  ## Ingredients
  
  - 360g all-purpose plain flour, plus extra for dusting
  - 20g skim-milk powder
  - 4g baking powder
  - 5g instant dry yeast
  - 35g white sugar
  - 35g vegetable oil, plus extra for greasing the dough
  - 200g warm water
  - 14 squares of baking paper (about 10x10cm)
  
  ---
  ## Directions
  
  - Place flour, milk powder, baking powder, yeast and sugar in a large bowl. In a separate bowl mix the vegetable oil and water. Make a well in the dry ingredients and pour in the liquids. Stir with a spoon and then use your hands to knead until the dough comes together. Empty out onto a work surface and knead for 5 minutes or until smooth, adding extra flour a tablespoon at a time if the dough sticks to the palm of your hand. Return the dough to the mixing bowl, cover and rest in a warm place for 90 minutes or until doubled in size.
  - Once risen, transfer the dough to a work surface and dust with flour. ‘Punch down’ the dough by kneading it for 5 to 10 minutes. The aim here is to remove as many air bubbles as possible. Use a rolling pin to roll the dough out to 1cm thick. Dip your fingers in vegetable oil and lightly spread the oil over the surface of the dough. Then use an 8cm diameter pastry cutter (or a plastic cup of the same diameter) to cut out rounds. Remove the excess dough. Fold rounds in half and flatten slightly with the rolling pin. Place on a square of baking paper and place directly into a large bamboo steamer or onto a tray. Repeat with remaining dough (excess dough can be re-rolled and used). Cover the folded rounds and set aside to prove for 30 minutes.
  - Fill a wok one-third full with water and place over high heat. When the water is boiling, place the bamboo steamer over the wok and steam buns for 12 minutes. Then turn off the heat (don’t lift the lid) and allow the buns to rest over the hot water for 5 minutes. Buns can be made up to a day in advance and steamed to re-heat before serving.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
