createdAt: "2019-11-07T13:20:06.342Z"
updatedAt: "2019-12-27T21:09:51.205Z"
type: "MARKDOWN_NOTE"
folder: "1f1c59a904669f075a52"
title: "Julia's American Bread"
tags: []
content: '''
  # Julia's American Bread
  
  Taken from
  Julia
  
  ---
  ## Specifications
  - Total time: 150 mins
  - Prep time: 120 mins
  - Bake time: 30 mins
  - Yield: 1 loaf
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  - 2 1/4 cup unbleached white flour
  - 1 1/2 cup whole wheat flour
  - 1 tsp salt
  - 1/2 tsp yeast
  - 1 1/2 cup milk (half milk, half water?)
  
  ---
  ## Directions
  - Sift flour into large bread bowl
  - Add salt and mix
  - In a different bowl, add water and yeast and let sit for 10 minutes.
  - Stir in liquids with the flour and salt
  - Add snall bits of flour or water to create the right consistency (it shouldn't be sticky or dry)
  - Knead dough well, roll in flour, and put in a warm bowl.
  - Leave in a cool, draft free place 
  - Punch down every once in awhile (30-60min)
  - Bake after 1 hr + 40 mins or rising
  - Bake at 350 F till golden brown in a greased bread pan
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
