createdAt: "2019-10-17T15:14:16.573Z"
updatedAt: "2019-12-27T21:11:40.881Z"
type: "MARKDOWN_NOTE"
folder: "1f1c59a904669f075a52"
title: "No-Knead Cloverleaf Rolls"
tags: []
content: '''
  # No-Knead Cloverleaf Rolls
  
  Taken from: [No-Knead Cloverleaf Rolls](https://www.marthastewart.com/945643/no-knead-cloverleaf-rolls)
  
  ---
  ## Specifications
  - Total time: 40 mins
  - Prep time: 20 mins
  - Yield: Makes 9
  
  ---
  ## Ingredients
  - 3 tablespoons granulated sugar
  - 1 cup warm water (110 degrees to 115 degrees)
  - 2 1/4 teaspoons active dry yeast (one 1/4-ounce packet)
  - 3 cups all-purpose flour (spooned and leveled), divided
  - 1 1/2 teaspoons fine salt
  - 1 large egg
  - 3 tablespoons unsalted butter, melted and cooled, plus more for brushing
  - Cooking spray
  - Coarse salt
  
  ---
  ## Directions
  1. In a large bowl, combine sugar and water. Sprinkle yeast on top and let sit until foamy, 5 minutes. Add 1 cup flour and, using a mixer, beat on medium until smooth, 2 minutes. Add fine salt, egg, and butter and beat until combined. Add remaining 2 cups flour and, with a wooden spoon, mix until just combined. Lightly coat a large bowl with cooking spray. Transfer dough to bowl, lightly coat with cooking spray, and loosely cover with plastic wrap. Refrigerate overnight (or up to 2 days). Dough will double in size.
  2. Divide into 27 equal pieces (1 ounce each). Lightly coat 9 standard muffin cups and your hands with cooking spray. Roll each dough piece into a smooth ball and place 3 balls in each cup. Liberally coat with cooking spray and loosely cover with plastic wrap. Let rise in a warm, draft-free place until doubled, 45 to 90 minutes.
  3. Preheat oven to 375 degrees. Bake rolls until puffed and deep golden, 15 to 20 minutes. Brush with melted butter and sprinkle with coarse salt; serve warm.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
