createdAt: "2021-09-29T18:59:02.729Z"
updatedAt: "2021-09-29T19:00:36.587Z"
type: "MARKDOWN_NOTE"
folder: "8ceed30f33d1210e87bd"
title: "Things to curate recipes for:"
tags: []
content: '''
  Things to curate recipes for:
  
  Thai Food
  - papaya salad
  - bean thread noodles
  - fried rice?
  - thai sausage
  
  Other
  - last few cookbook recipes
  - molasses bread
'''
linesHighlighted: []
isStarred: false
isTrashed: false
