createdAt: "2020-11-19T21:01:09.229Z"
updatedAt: "2020-11-19T21:13:22.396Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: ""
tags: []
content: '''
  #
  
  Taken from
  
  
  ---
  ## Specifications
  - Total time:  mins
  - Prep time:  mins
  - Bake time:  mins
  - Yield:
  - Oven temp:  F
  
  ---
  ## Ingredients
  
  
  
  ---
  ## Directions
  
  
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
