createdAt: "2020-08-20T04:09:23.119Z"
updatedAt: "2020-08-20T04:12:44.985Z"
type: "MARKDOWN_NOTE"
folder: "2aedad6f3d72b605e1ce"
title: "Baking How Tos"
tags: []
content: '''
  # Baking How Tos
  
  Taken from
  Merritt's Cookbook
  
  ---
  
  How to make cake flour
  - Remove 2 tbsp flour and add 2 tbsp cornstarch for every cup of flour the recipie calls for and the sift the flour.
  
  How to make superfine sugar
  - Add 1 cup + 2 tbsp white sugar to a food processor, blend/chop until superfine.
  
  How to make self-raising flour
  - Add 1 1/4 tsp baking powder and 1/4 tsp salt per cup of flour. Mix flour.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
