createdAt: "2021-01-26T05:05:49.410Z"
updatedAt: "2021-01-26T05:05:49.410Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
