createdAt: "2020-11-14T02:42:18.140Z"
updatedAt: "2020-11-14T02:49:28.292Z"
type: "MARKDOWN_NOTE"
folder: "2aedad6f3d72b605e1ce"
title: "Thanksgiving Notes 2020"
tags: []
content: '''
  # Thanksgiving Notes 2020
  
  
  ## Schedule
  ---
  
  Wednesday
  - 4:30-5:30 break down turkey, get sous vide ready and season bird
  - 5:30pm get thighs sous vide (cook until 3:30am)
  - 5:40-6:40 roast turkey stuff 
  - 6:40-9:00 bake pies, prep bread to rest overnight
  
  Thursday
  - 3:30 am get turkey breasts in sous vide (cook until 1:30 pm)
  - 11:45 am prep corn Mac, boil potatoes, prep stuffing, gravy
  - 12:00 pm prep bread
  - 1:30 bake bread
  - 3:00 eat
  
  
  ## Wednesday Nitty Gritty
  ---
  
  ### Pumpkin Pie
  - 
  
  ### Pecan Pie
  - 
  
  ### Cloverleaf Rolls
  - 
  
  ### Three Sisters Salad
  - 
  
  ### Turkey
  - 
  
  ---
  ## Thursday Nitty Gritty
  ---
  
  ### Gravy
  - 
  
  ### Corn Mac
  - 
  
  ### Turkey
  - 
  
  ### Mashed Potatoes
  - 
  
  ### Stuffing
  
  
  ### Green Bean Casserole
  
  
  ---
  ## Modifications for 2021
  --- 
  
  What did you like?
  
  What would you change?
  
  
  ---
  ## Shopping List
  ---
  
  Non-perishables or freezable
  
  
  Perishables
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
