createdAt: "2019-11-27T23:47:12.303Z"
updatedAt: "2019-11-27T23:47:12.303Z"
type: "MARKDOWN_NOTE"
folder: "8ceed30f33d1210e87bd"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
