createdAt: "2020-07-20T21:45:49.128Z"
updatedAt: "2020-07-20T22:04:04.857Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Carrot Cake"
tags: []
content: '''
  # Carrot Cake
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 70-80 mins
  - Prep time: 30 mins
  - Bake time: 40-50 mins
  - Yield: 1 cake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Cake
  - 1 1/2 cup flour
  - 1 tsp baking powder
  - 1 tsp cinnamon
  - 1 tsp nutmeg
  - 1/2 tsp nutmeg
  - 1/2 tsp baking soda
  - 1/4 salt
  - 3/4 cups (1 1/2 sticks) softened butter
  - 1 1/2 cup white sugar
  - 3 large eggs
  - 2 cups ground carrots
  - 3/4 cup walnuts, coarsely chopped
  
  Frosting
  - 1 package (8 oz) cream cheese, softened
  - 4 tbsp butter, softened
  - 2 1/2 cups powdered sugar
  - 2 tsp vanilla
  
  ---
  ## Directions
  
  Cake
  - Sift flour, baking powder, cinnamon, nutmeg, baking soda, and salt together in bowl.
  - In another bowl beat butter and sugar together until creamy.
  - Add in eggs one at a time.
  - Gradually beat in carrots, walnuts, and dry ingredients.
  - Bake in a buttered cake pan lined with a buttered sheet of wax paper. 
  
  Frosting
  - Beat cream cheese, butter, powdered sugar, and vanilla together until creamy.
  - Wait until cake is completely cool before frosting.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
