createdAt: "2021-01-04T16:57:36.029Z"
updatedAt: "2021-01-04T17:06:08.518Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Cherry Almond White Chocolate Cookies"
tags: []
content: '''
  # Cherry Almond White Chocolate Cookies
  
  Taken from
  Sunripe Green Cherries package
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 20 mins
  - Bake time: 13-15 mins
  - Yield: 30 cookies
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 1/2 cup butter
  - 1/4 cup white sugar
  - 3/4 brown sugar packed
  - 1 egg
  - 1 1/4 tsp vanilla
  - 1 3/4 cup flour
  - 1/4 tsp salt
  - 1/2 tsp baking powder
  - 1/2 tsp baking soda
  - 8 oz green sunripe cherries, diced
  - 1 cup white chocolate chips
  - 1/2 cup slivered almonds
  
  ---
  ## Directions
  
  - Chop cherries, set aside
  - Mix butter and sugars.
  - Add eggs, vanilla.
  - In separate bowl mix flour, salt, baking powder, and baking soda. Add to wet mixture. 
  - Stir in cherries, white chocolate chips, and almonds.
  - Shape dough into golf-ball sized pieces and bake until lightly golden brown.
  
  ---
  Notes/Comments/Suggestions
  - Can buy fruitcake pieces and cherries at Walmart during the holidays.
  - Careful, these are easy to overbake!
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
