createdAt: "2020-07-15T00:37:21.925Z"
updatedAt: "2020-07-15T00:41:13.505Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Chocolate Chip Cake"
tags: []
content: '''
  # Chocolate Chip Cake
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 50 mins
  - Prep time: 20 mins
  - Bake time: 25-30 mins
  - Yield: 1 cake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 1 1/4 cup flour
  - 1/2 cup whole wheat flour
  - 2 tsp baking powder
  - 1/2 tsp salt
  - 2/3 cup butter, softened
  - 1 cup brown sugar
  - 1/2 cup white sugar
  - 1 1/2 tsp vanilla
  - 3 large eggs
  - 3/4 cup chocolate chips 
  - 1 cup milk
  
  ---
  ## Directions
  
  - Sift flours, baking powder, and salt into a bowl, mix.
  - Beat butter, the sugars, and vanilla in a large bowl until creamy. 
  - Add in the eggs one at a time. 
  - Gradually beat in the dry ingredients alternating with milk.
  - Stir in chocolate chips, and pour into buttered cake pans. 
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
