createdAt: "2020-07-17T16:47:10.810Z"
updatedAt: "2020-07-17T16:51:23.811Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Chocolate Truffles"
tags: []
content: '''
  # Chocolate Truffles
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 30 mins
  
  ---
  ## Ingredients
  
  - 4 oz. bittersweet chocolate, coarsely chopped
  - 3 tbsp heavy cream
  - 1 tbsp unsalted butter
  - 1/2 cup powdered sugar
  - 2 tbsp orange liqueur
  - 1/3 cup cocoa powder
  
  ---
  ## Directions
  
  - Melt chocolate, cream, and  butter in a double broiler over barely simmering water
  - Stir in powdered sugar and orange liqueur until smooth.
  - Roll spoonfuls of the mixture into marble sized balls, dusting hands on cocoa if needed to transfer to plate and refrigerate for 30 minutes.
   
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
