createdAt: "2020-11-19T04:19:54.467Z"
updatedAt: "2020-11-19T04:28:58.437Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Chocolate Cheesecake"
tags: []
content: '''
  # Chocolate Cheesecake
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 2 hours
  - Prep time: 30 mins
  - Bake time: 45-60 mins
  - Yield: 1 cheesecake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Crust:
  - 1 1/3 Graham cracker crumbs
  - 1/2 stick butter, melted
  - 1 tbsp cocoa
  
  Cheesecake:
  - 6 oz bittersweet or semi-sweet chocolate, chopped into small bits
  - 2 1/2 cup cream cheese
  - 3/4 cup superfine sugar
  - 1 tbsp custard powder
  - 3 large eggs
  - 3 large egg yolks
  - 2/3 cup sour cream
  - 1/2 tsp cocoa dissolved into 1 tbsp hot water
  
  Sauce:
  - 3 oz bittersweet chocolate, finely chopped
  - 1/2 cup heavy cream
  - 1 tsp dark corn syrup
  
  ---
  ## Directions
  
  Crust:
  - Make crusts like other cheesecakes and chill until ready to pour in filling
  
  Cheesecake:
  - Melt chocolate and set aside
  - Beat cream cheese and add sugar and custard powder.
  - Beat in eggs, then yolks, then sour cream.
  - FInally add cocoa and melted chocolate and mix into a smooth batter.
  - Line the outside of a springform pan with a layer of cling-wrap then aluminium foil. Out springform pan into a roasting pan and pur in cheesecake filling.
  - Fill roasting pan halfway up the cheesecake.
  - Bake
  - Peel away foil and let cool with plastic covering.
  
  Sauce:
  - Melt all in a pan.
  - Drizzle over cheesecake once cool.
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
