createdAt: "2020-12-17T03:43:00.550Z"
updatedAt: "2021-01-04T17:17:46.576Z"
type: "MARKDOWN_NOTE"
folder: "2aedad6f3d72b605e1ce"
title: "Christmas Notes 2020"
tags: []
content: '''
  # Christmas Notes 2020
  
  ## Schedule
  ---
  
  12/19 - Pizza, party mix
  12/20 - Fruit cake, peacan tassies
  12/23 - stock
  12/24 - (Christmas) Prime rib, home fries, cream puffs with custard
  12/26 - fruit cake cookies, chouquettes, ginger cookies
  12/27 - Chilie Colorado
  12/31 - (New Year's Eve) Ham with au gratin
  
  
  ---
  ### Quick links/descriptions of recipes:
  ---
  
  Pizza
  - [Detroit Style Pizza](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/pizza/Brandons_Detroit_Style_Pizza.md)
  
  
  Party Mix
  - 
  
  
  Fruit cake
  - brandy
  - Brandon's trade secrets
  
  
  Ginger cookies
  - [White Chocolate Dipped Ginger Cookies](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/desserts/White_Chocolate_Dipped_Ginger_Cookies.md)
  
  Fruit cake cookies
  - [Fruitcake Cookies](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/desserts/Fruitcake_Cookies.md)
  
  Stock
  - 3 onions
  - celery
  - carrots
  - garlic
  - chicken wings
  - oxtail, beef shank, bony cheap beef
  - tomato paste
  
  
  Christmas prime rib
  - Brandon's trade secrets
  
  Cream puffs
  - Brandon's trade secrets
  
  Chilie Colorado
  - [Chile con carne Colorado style burritos](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/entrees/chile_con_carne_colorado_style_burritos.md)
  
  Au gratin & home fries
  - Brandon's trade secrets
  - 1 box au gratin potatoes
  
  
  ---
  ### Shopping list
  ---
  
  Non-perishable
  - tomato paste
  - brandy
  - 1 box au gratin potatoes
  
  Perishable
  - 3 onions
  - celery
  - carrots
  - garlic
  - chicken wings
  - oxtail, beef shank, bony cheap beef
  - walnuts
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
