createdAt: "2020-03-27T16:44:04.828Z"
updatedAt: "2020-03-27T16:55:15.588Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Coffee Buttercream"
tags: []
content: '''
  # Coffee Buttercream
  
  Taken from
  Unknown
  
  ---
  ## Specifications
  - Total time: 10 mins
  - Prep time: 10 mins
  - Bake time: NA
  - Yield: Unknown
  - Oven temp: NA
  
  ---
  ## Ingredients
  
  - 1/2 cup water (or coffee)
  - 3/4 cup granulated sugar (white sugar)
  - 3 large egg yolks
  - 1 cup (2 sticks) butter softened
  
  ---
  ## Directions
  
  - Stir in the water and the sugar in a small saucepan over medium heat until the sugar is dissolved. Cook until you reach a temperature of 230F without stirring until the soft ball stage.
  - Beat the egg yolks over a double broiler until pale.
  - Gradually beat in the syrup into the beaten yolks.
  - Place over barely simmering water, stirring often until the mixture lightly coats the back of a metal spoon (160F). Plunge the pan into ice water, stir until cool. 
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
