createdAt: "2020-09-09T13:59:48.217Z"
updatedAt: "2020-09-09T14:15:48.295Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "County Fair Winner Macaroons"
tags: []
content: '''
  # County Fair Winner Macaroons
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 50 mins
  - Prep time: 20 mins
  - Bake time: 18-20 mins
  - Yield: unknown
  - Oven temp: 325 F
  
  ---
  ## Ingredients
  
  - 2 2/3 cup flaked coconut
  - 2/3 cup sugar
  - 4 tbsp flour
  - 1/4 tsp salt
  - 4 egg whites
  - 1/2 tsp vinegar or lemon juice (i.e. some type of acid)
  - 1 tsp vanilla
  
  For decorating baked macaroons
  - 3-4 oz of melted baking chocolate
  
  ---
  ## Directions
  
  - Mix coconut, sugar, flour, and salt together.
  - In another bowl beat egg whites until they peak with the addition of some type of acid,
  - Fold egg whites into the dry mixture and add vanilla.
  - Mixture will be slightly gooey but easy on the addition of flour.
  - Partition dough into tablespoon sized balls, roll in extra coconut if desired.
  - Put on cookie sheet and bake until golden brown.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
