createdAt: "2020-07-20T21:36:03.450Z"
updatedAt: "2020-07-20T21:43:16.612Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Devil's Food Cake"
tags: []
content: '''
  # Devil's Food Cake
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 20 mins
  - Bake time: 30-40 mins
  - Yield: 1 cake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Cake
  - 3/4 cup cocoa powder
  - 1/2 cup boiling water
  - 2 cups flour
  - 2 tsp baking powder
  - 1/2 tsp baking soda
  - 1/4 tsp salt
  - 3/4 cup (1 1/2 sticks) butter, softened
  - 2 cups white sugar
  - 2 tsp vanilla
  - 1 tbsp chocolate or coffee liqueur
  - 2 large eggs
  - 1 cup buttermilk
  
  Frosting
  - 6 oz milk chocolate, coarsely chopped
  - 1 package (8 oz) cream cheese, softened
  - 2 cups powdered sugar
  
  ---
  ## Directions
  
  Cake
  - Stir the cocoa and water in a small bowl until smooth.
  - Sift flour, baking powder, baking soda, and salt into another large bowl.
  - In another bowl, beat butter, sugar, vanilla, and liqueur together until creamy.
  - Add in eggs one at a time.
  - Gradually beat in the dry ingredients, alternating with the buttermilk. Gradually beat in the cocoa mixture. 
  - Bake in 2 buttered cake pans lined with buttered way paper.
  
  Frosting
  - Melt the chocolate in a double broiler over barely simmering water. 
  - Set aside to cool.
  - Beat in cream cheese and powdered sugar together in bowl. Beat in chocolate.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
