createdAt: "2020-10-31T15:30:55.239Z"
updatedAt: "2020-10-31T15:41:33.878Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Espresso Caramel Bars"
tags: []
content: '''
  # Espresso Caramel Bars
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: Awhile
  - Prep time: unknown
  - Bake time: 10-12 mins
  - Yield: a bunch of bars
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Crust:
  - 12 whole (6 oz) cinnamon graham crackers, crumbled
  - 1/4 cup sugar
  - 1 1/2 sticks unsalted butter, melted
  
  Caramel:
  - 1/2 cup heavy cream
  - 1 stick unsalted butter, softened
  - 1 1/2 cup light brown sugar
  - 1 tbsp water
  
  Chocolate Layer:
  - 2 cups (12 oz) semisweet chocolate chips
  - 1/2 cup heavy cream
  - 1 3/4 tsp instant espresso powder
  
  ---
  ## Directions
  
  Crust:
  - Line bottom of a springform pan with wax/parchment paper and spray the pan and paper with oil
  - In a food processor combine the grahm crackers and sugar. Process until fine breadcrumbs form then add butter until clumps form.
  - Spread in bottom of pan and bake on top of a baking sheet for 10-12 minutes.
  
  Caramel Layer:
  - While the crust is cooling, in a medium heavy saucepan combine 1/2 cup cream, butter, sugar, and water. 
  - Stir over medium heat until smooth. Bring to a boil and cook without stirring until a candy thermometer reads 240 F (5-7 minutes).
  - Pour caramel over crust and cool for 20 minutes.
  - Freeze until firm (10 minutes)
  
  Chocolate Layer:
  - Combine chocolate chips and cream in a small bowl and place over a pot of boiling water.
  - Stir until the chocolate chips are melted and smooth.
  - Add in espresso power.
  - Pour chocolate over caramel layer and smooth with a spatula.
  - Refrigerate for at least 1 hour until firm.
  
  Allow layers to come to room temperature before cutting with a wet knife. Cut into bars and seal in an air tight container. 
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
