createdAt: "2019-10-17T17:57:09.255Z"
updatedAt: "2020-09-18T03:30:22.370Z"
type: "MARKDOWN_NOTE"
folder: "8ceed30f33d1210e87bd"
title: ""
tags: []
content: '''
  #
  
  Taken from
  
  
  ---
  ## Specifications
  - Total time:  mins
  - Prep time:  mins
  - Bake time:  mins
  - Yield:
  - Oven temp:  F
  
  ---
  ## Ingredients
  
  
  
  ---
  ## Directions
  
  
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
