createdAt: "2020-12-18T03:02:28.178Z"
updatedAt: "2021-01-04T16:57:27.520Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Fruitcake Cookies"
tags: []
content: '''
  # Fruitcake Cookies
  
  Taken from
  [Fruitcake Cookies](https://www.countryliving.com/food-drinks/recipes/a36899/fruitcake-cookies/)
  
  ---
  ## Specifications
  - Total time: 2 hours 20 mins
  - Prep time: 25 mins
  - Bake time: 14-16 mins
  - Yield: 5 dozen
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 1 3/4 cup cake flour, spooned and leveled, divided
  - 1 tsp. baking powder
  - 1/2 tsp. baking soda
  - 1/4 tsp. Kosher salt
  - 1/8 tsp. ground cinnamon
  - Pinch ground nutmeg
  - 1/2 cup chopped toasted pecans
  - 1/2 cup chopped pistachios
  - 1/2 cup (1 stick) unsalted butter, at room temperature
  - 1 cup packed dark brown sugar
  - 1 large egg, at room temperature
  - 1 1/2 tsp. pure vanilla extract, divided
  - 1 cup finely chopped Maraschino cherries, well drained
  - 1/4 cup finely chopped candied pineapple
  - 1/2 cup confectioners' sugar
  - 1/2 tsp. brandy
  - 2 tsp. milk
  
  ---
  ## Directions
  
  - Preheat oven to 350°F with the racks in the upper and lower thirds. Line two baking sheets with parchment paper. 
  - Whisk together 1 ¼ cups flour, baking powder, baking soda, salt, cinnamon, and nutmeg in a bowl. 
  - Toss pecans and pistachios with remaining ½ cup flour in a separate bowl.
  - Beat butter and brown sugar on medium speed with an electric mixer until light and fluffy, 1 to 2 minutes. Add egg, beating until incorporated. Beat in 1 teaspoon vanilla. 
  - Reduce mixer speed to low and gradually add flour mixture, beating just until incorporated, 1 to 2 minutes. Stir in nuts (and any flour remaining in bowl), cherries, and pineapple until evenly incorporated. 
  - Scoop dough (about ½ tablespoon each), 2 inches apart, on prepared baking sheets. 
  - Bake, rotating sheets halfway through, until golden brown around edges, 14 to 16 minutes. Cool on baking sheets on wire racks for 10 minutes; remove to the racks to cool completely.
  - Whisk together confectioners' sugar, brandy, remaining ½ teaspoon vanilla, and 1 teaspoon milk (add an additional teaspoon of milk if glaze is too thick). Drizzle over cooled cookies. Let sit, at room temperature, until glaze is set, about 30 minutes.
  
  ---
  Notes/Comments/Suggestions
  - Will try using chopped prepared fruitcake pieces.
  - Used recipe on the package of green cherries, was very good but easy to overbake.
  - Package cookie recipe is called: Cherry Almond White Chocolate Cookies and is on Github
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
