createdAt: "2020-07-09T23:05:15.174Z"
updatedAt: "2020-07-09T23:11:12.916Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Garlic Prawn Spaghetti"
tags: []
content: '''
  # Garlic Prawn Spaghetti
  
  Taken from
  [Garlic Prawn Spaghetti - Marion's Kitchen](https://www.marionskitchen.com/garlic-prawn-spaghetti/)
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 30 mins
  - Yield: 2 servings
  
  ---
  ## Ingredients
  
  - 200g (7 oz) spaghettini
  - 1 tbsp vegetable oil
  - 400g (14 oz) peeled and deveined prawns
  - 4 garlic cloves, finely chopped
  - ½ tsp chilli flakes
  - 3 tbsp soy sauce
  - 2 tbsp oyster sauce
  
  Spring Onion & Ginger Sauce:
  - 1 cup finely sliced spring onion (scallions)
  - 1 tbsp finely chopped ginger
  - 1 tsp sea salt
  - ¼ cup vegetable oil
  - 2 tsp sesame oil
  
  
  ---
  ## Directions
  
  To make the spring onion & ginger sauce
  - use a mortar and pestle to pound the spring onion, ginger and salt to a rough paste. Transfer to a heat-proof bowl.
  - Place the vegetable oil and sesame oil in a small saucepan over medium-high heat. Heat until a wooden spoon dipped into the oil forms small little bubbles. Now pour the hot oil over the spring onion mixture. Stir to combine. Set aside for later.
  
  For pasta: 
  - Cook the spaghettini in a large pot of boiling salted water until just al dente. Reserve 1 cup of the pasta cooking water in case you need to thin out the pasta sauce later.
  - While the pasta is cooking, heat the 1 tablespoon of vegetable oil in a large frying pan over medium heat. Add the garlic, prawns and chilli flakes. Cook for 2-3 minutes or until the prawns are pink and opaque. Pour over the soy sauce and oyster sauce. Simmer for a couple of minutes then turn the heat off until the pasta is ready.
  - Drain the pasta and add into the pan with the prawns. Turn the heat back to high and toss the pasta in the sauce for 2-3 minutes or until the sauce is thick and glossy (if it looks too thick for your liking, thin out with a little pasta water). Spoon over the spring onion & ginger sauce and toss. Divide among plates and serve.
  
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
