createdAt: "2021-01-26T05:07:58.651Z"
updatedAt: "2021-01-26T05:10:06.354Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Gingerbread Loaf"
tags: []
content: '''
  # Gingerbread Loaf
  
  Taken from
  [Gingerbread Loaf {Soft, moist, molasses quick bread with ginger & nutmeg}](https://www.tastesoflizzyt.com/gingerbread-loaf/)
  
  ---
  ## Specifications
  - Total time: 55 mins
  - Prep time: 10 mins
  - Bake time: 45 mins
  - Yield: 1 loaf
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 2 cups all-purpose flour 240 grams
  - 1 teaspoon baking soda
  - 2 teaspoons ginger
  - 3/4 teaspoon nutmeg
  - 1/2 teaspoon salt
  - 1/2 cup brown sugar (packed)
  - 1/2 cup butter (softened)
  - 1/2 cup molasses
  - 1 teaspoon vanilla
  - 2 large eggs
  - 1 cup buttermilk*
  - powdered sugar for dusting the top if desired
  
  ---
  ## Directions
  
  - Preheat the oven to 350 degrees.
  - In a mixing bowl, thoroughly stir together the flour, baking soda, ginger, nutmeg and salt. Set aside.
  - In a large mixing bowl, cream together the sugar and butter until well combined. Add the molasses and vanilla. Mix well. Add the eggs, one at a time, until well mixed.
  - Add the flour mixture to the sugar mixture alternately with the buttermilk, stirring just until blended after each addition.
  - Spoon the batter into a greased 9x5 inch loaf pan and bake at 350 degrees for 45-50 minutes.
  - Cool in the pan for 10 minutes.
  - Remove from the pan and cool.
  
  ---
  Notes/Comments/Suggestions
  
  - In place of buttermilk, you place one tablespoon of vinegar in the bottom of a 1 cup measuring cup. Fill the rest of the cup with milk. Allow the mixture to sit for 5 minutes before using.
  - I used almond milk and it came out alright.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
