createdAt: "2020-07-23T03:18:54.963Z"
updatedAt: "2020-07-23T03:24:56.156Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Glazed Lemon Chiffon Cake"
tags: []
content: '''
  # Glazed Lemon Chiffon Cake
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 120 mins
  - Prep time: 30 mins
  - Bake time: 55-65 mins
  - Yield: 1 cake
  - Oven temp: 325 F
  
  ---
  ## Ingredients
  
  Cake
  - 2 cups cake flour
  - 1 tbsp baking powder
  - 1/2 tsp salt
  - 1 1/2 tsp sugar
  - 1/2 cup oil
  - 1 tbsp lemon zest
  - 1/4 cup lemon juice
  - 1/2 cup milk
  - 6 large egg whites
  
  Lemon Glaze Frosting
  - 2 cups powdered sugar
  - 4-5 tbsp lemon juice
  - 1 1/2 tsp finely grated lemon zest
  
  ---
  ## Directions
  
  Cake
  - Sift flour, baking powder, and salt into bowl
  - Stir in sugar, oil, lemon zest, juice, and milk.
  - Best the egg whites in another bowl until stiff peaks form. 
  - Fold mixture into batter. 
  - Bake in a buttered and floured pan and decorate with frosting and lemon zest.
  
  Frosting
  - Sift powdered sugar into bowl and best in 4 tbsp lemon juice and zest. 
  - Add extra lemon juice if frosting seems dry.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
