createdAt: "2020-08-28T03:56:18.827Z"
updatedAt: "2020-08-28T04:02:18.181Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Hainanese Chicken Rice ข้าวมันไก่สูตรง่าย"
tags: []
content: '''
  # Hainanese Chicken Rice ข้าวมันไก่สูตรง่าย
  
  Taken from
  [Easy Hainanese Chicken Rice (Kao Mun Gai) Recipe & Video](https://hot-thai-kitchen.com/easy-hainanese-chicken-rice/)
  
  ---
  ## Specifications
  - Total time: 120 mins
  - Yield: 3-4 servings
  
  ---
  ## Ingredients
  
  For the Chicken:
  - 3 pc skin-on, bone-in chicken thigh (see note)
  - 1 large skin-on chicken breast (or 2 small ones)
  - 1⁄2 tsp salt
  
  For the Rice:
  - 1 1⁄2 cups jasmine rice, rinsed 
  - 1 2⁄3 cups chicken stock, unsalted, from boiling chicken
  - 1⁄2 tsp salt
  - 2 Tbsp chopped garlic
  - 2 Tbsp chopped ginger
  
  Optional: Extra chicken stock for serving on the side, about 1⁄2 cup per person (see note)
  Optional: Fresh cucumber slices for serving
  
  For the Dipping Sauce:
  - 1-inch knob ginger, finely chopped
  - 2 cloves garlic
  - 1 Thai chili
  - 3 Tbsp Tao Jiew (Thai fermented soybean paste)
  - 1 Tbsp sugar
  - 2 tsp dark soy sauce (or use Thai black soy sauce)
  - 2 tsp soy sauce
  - 1 tsp vinegar
  - 3 sprigs cilantro, chopped
  
  Chicken broth
  - 2 lb chicken bones
  - 3 L water
  - Half and onion, quartered
  - 5 garlic cloves
  - 1⁄2 tsp cracked white pepper
  - 5–6 slices ginger, optional
  - 6–8 Cilantro stems, optional
  
  ---
  ## Directions
  
  - Trim extra fat and skin off your chicken thighs and reserve. You will need to render fat from these trimmings for the rice.
  - Sprinkle salt over chicken and rub it in. Let sit at room temp while you prep other things.Note: You can do everything from this point on right in the pot that you will use to cook the rice and chicken, and it’ll be a one pot meal. But I prefer to sauté the rice in a wok and then transfer.
  - In a wok, or the pot you’re using to cook the rice in, add just a tiny bit of vegetable oil along with chicken fat/skin trimmings. Saute over medium-low heat to render chicken fat until the trimmings are browned. You want to have about 2 Tbsp of fat total, so if there is too much, remove some. If there isn’t enough, add a little more vegetable oil to supplement. Remove chicken trimmings, leaving the fat in the pot.
  - In the same pot/wok you used to render chicken fat, add chopped ginger and garlic and saute over medium high heat until garlic starts to turn golden.
  - Add raw, rinsed rice and salt, and turn heat up to high, tossing rice for about 2 minutes until hot throughout and dry.
  - Transfer rice into a rice cooker or a heavy bottomed pot (unless you’re already using that pot). Note: A rice cooker is more convenient, because it will turn itself off, but I personally prefer using a pot so I can use low heat to gently cook the chicken so it will be less likely to overcook.  
  - Add chicken stock to the rice and and stir to mix. Place chicken in one layer on top of rice.
  - Turn heat to high and watch until you start to see the first sign of simmering. Then turn the heat down to low, cover with a tight fitting lid and cook for 25 minutes or until the chicken is done. While you wait for it to cook, make the dipping sauce and the broth.
  - When chicken is cooked, remove chicken from the rice and let rest for at least 5 minutes before slicing.
  - Fluff rice to distribute seasoning and chicken juices evenly.
  
  
  To serve: 
  - Slice chicken into thin pieces, and place on top of rice. Serve with dipping sauce, some fresh cucumber and extra chicken broth as soup. Enjoy!
  
  
  For the Dipping Sauce 
  - Pound garlic, ginger and chilies into a paste. Alternatively, finely chop everything and add to a small bowl.
  - Add tao jiew or doenjang & water, sugar, dark soy sauce, soy sauce and vinegar.  Stir until the sugar is dissolved.
  - Before serving stir in the chopped cilantro right before serving.
  
  
  For the chicken broth to be served on the side (optional):
  - heat the chicken stock in a pot until it comes to a simmer. Season lightly with salt or soy sauce and a dash of ground white pepper. Garnish with some chopped cilantro or green onions if desired.
  
  
  To Make Chicken Stock:
  - Gently simmer chicken bones for 1 hour in the water, skimming off foam and scum as they come up. However, if you want to keep the fat for your rice, I would not skim after about 30 minutes so you don’t end up skimming off the fat.
  - After 1 hour of simmering, add all the vegetables/aromatics and simmer for another 45 minutes to 1 hour.
  - Drain off the stock and skim off any fat on top of the stock and reserve for your rice. If you have time, refrigerate the skimmed fat so you can easily remove the stock that came with the fat.
  
  ---
  Notes/Comments/Suggestions
  - Can freeze extra dipping sauce
'''
linesHighlighted: []
isStarred: false
isTrashed: false
