createdAt: "2020-09-08T16:41:21.112Z"
updatedAt: "2020-09-08T16:46:34.392Z"
type: "MARKDOWN_NOTE"
folder: "da77d2d4797ec89a6342"
title: "Kate's Indian Tea"
tags: []
content: '''
  # Kate's Indian Tea
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 5-7 mins
  - Prep time: 1-2 mins
  - Yield: depends
  
  ---
  ## Ingredients
  
  - 6 cloves
  - 3 cardamom pods split open
  - 2 slices of ginger (powdered ginger okay)
  - milk to taste
  - honey/sugar to taste
  - 1 cup water
  - dust of cinnamon (or boil 1 stick cinnamon)
  
  ---
  ## Directions
  
  - Boil cloves, cardamom, and finger in water. Optionally add cinnamon stick and boil with other spices under medium heat.
  - After 5-7 minutes the water will turn yellowish. Add in milk in small amounts and turn down to low-heat. 
  - Add in sugar to taste. Simmer for 4 minutes.
  - Dust cinnamon to taste, stir well and turn off flame.
  - Great with ginger cookies or just cookies!
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
