createdAt: "2020-08-29T17:54:26.896Z"
updatedAt: "2020-08-29T17:57:42.993Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Thai Style Chicken On Rice Recipe (Khao Man Gai)"
tags: []
content: '''
  # Thai Style Chicken On Rice Recipe (Khao Man Gai)
  
  Taken from
  [Thai Style Chicken On Rice Recipe (Khao Man Gai)](https://siamsizzles.com/thai-style-chicken-on-rice-recipe-khao-man-gai/)
  
  ---
  ## Specifications
  - Total time:  mins
  - Prep time:  mins
  - Bake time:  mins
  - Yield:
  - Oven temp:  F
  
  ---
  ## Ingredients
  
  - 450g chicken (we used legs with skin)
  - 2 cups jasmine rice
  - 2 cloves of garlic (lightly crushed)
  - Ginger (about 1 inch piece, light crushed)
  - 1 tbsp salt
  - 1/2 cup soy bean paste
  - 1/2 cup soy sauce
  - 1/4 cup dark soy sauce
  - 1/2 cup sugar
  - 1/4 cup finely chopped ginger
  - 1/4 cup finely chopped garlic
  - 4 chopped red bird eye chillies
  
  ---
  ## Directions
  
  Chicken
  - Place your chicken of choice (preferably with skin) into a pot and fill with enough water so that the chicken is covered. Add 1 tbsp of salt, cover the pot with a lid, and bring to the boil. Leave to simmer in the broth until the chicken is cooked, the amount of time will depend on what chicken you are using, and its size, so just ensure that is cooked all the way in to the middle. Our legs took about 15 minutes to cook.
  
  Rice
  - Once your chicken is cooked, wash 2 cups of jasmine rice in water and drain, then place the washed rice in a rice cooker, along with 3 cups of the broth that we boiled the chicken in, 2 cloves of lightly crushed garlic, and about a 1 inch piece of ginger which has also been lightly crushed. Place the rice cooker lid on and set to cook.
  
  Sauce
  - Add 4 chopped red bird eye chillies, 1/4 cup of finely chopped garlic, 1/4 cup of finely chopped ginger, 1/4 cup of dark soy sauce, 1/2 cup of soy bean paste, 1/2 cup of soy sauce, and 1/2 cup of sugar to a jug and mix together thoroughly.
  
  Serve
  - Once the sauce is ready and the rice has finished cooking, slice up the chicken meat, lay it on top of the jasmine rice, and serve with some cucumber and the sauce we made.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
