createdAt: "2020-11-09T22:20:35.494Z"
updatedAt: "2020-11-09T22:28:14.607Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Lemon Squares"
tags: []
content: '''
  # Lemon Squares
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 120 mins
  - Prep time: 30 mins
  - Bake time: 15-20 mins
  - Yield: 1 tray of squares
  - Oven temp: 325 F
  
  ---
  ## Ingredients
  
  Crust:
  - 3/4 cup flour
  - 1/2 cup powdered sugar
  - 3 tbsp cornstarch
  - 1 1/2 tsp lemon zest
  - 1/2 tsp baking powder
  - 1/4 tsp salt
  - 4 tbsp butter (cut into 1/2 in pieces)
  - 1 tbsp whole milk
  
  Lemon topping:
  - 3/4 cup sugar
  - 1 large egg
  - 1 egg white
  - 2 tbsp flour
  - 1/8 tsp salt
  - 1 tbsp lemon zest
  - 6 tbsp lemon juice
  - 1 tbsp powdered sugar
  
  ---
  ## Directions
  
  Crust
  - Line baking pan with aluminium foil and coat in oil.
  - Mix flour, cornstarch, powdered sugar, lemon zest, baking powder, and salt in a food processor.
  - Mix in butter and milk until the mixture resembles coarse meal.
  - Press dough into an even layer in pan.
  - Bake for 16-20 minutes at 350F and let cool for 15 minutes.
  
  Filling
  - Whisk sugars, egg, egg white, flour, and salt until smooth.
  - Stir in lemon zest and juice.
  - Pour filling over crust and bake for 15-20 minutes at 325F.
  
  Cool for 1 hour and dust final product with powdered sugar.
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
