createdAt: "2020-03-27T16:55:41.772Z"
updatedAt: "2020-03-27T17:09:04.778Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Malvins Cameron en tomate (shrimp stuffed tomatoes)"
tags: []
content: '''
  # Malvins Cameron en tomate (shrimp stuffed tomatoes)
  
  Taken from
  Malvin, Costa Rican upholstery guy
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 60 mins
  - Bake time: NA
  - Yield: Unknown
  - Oven temp: NA
  
  ---
  ## Ingredients
  
  - 2 pounds cleaned shrimp
  - 1 cup cilantro chopped
  - 1/2 large chilli (any spicy pepper or bell pepper would work)
  - 1 chopped onion
  - 1 cucumber chopped
  - 3/4 stick butter
  - 3-4 tomatoes, hollowed
  
  ---
  ## Directions
  
  - 9 year old Merritt did not write instructions for this recipe so I am going to have to guess what happened.
  - Cook shrimp in half of butter in pan over medium heat, chop into pinky-nail sized bits and set aside. 
  - Cook chilli and onion in pan until translucent with the remaining butter over medium heat.
  - Combine cooked shrimp, cooked onion, chillies, cilantro, and cucumber. Season with salt and pepper to taste. 
  - Hollow out tomatoes, stuff with shrimp mixture and serve.
  
  ---
  Notes/Comments/Suggestions
  
  Most similar recipes I could find online: 
  [Shrimp Salad-Stuffed Tomatoes Recipe \\| EatingWell](http://www.eatingwell.com/recipe/253088/shrimp-salad-stuffed-tomatoes/)
  [Caprese Shrimp Stuffed Tomatoes \\| Carrie's Experimental Kitchen](https://www.carriesexperimentalkitchen.com/caprese-shrimp-stuffed-tomatoes/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
