createdAt: "2021-01-04T16:44:22.013Z"
updatedAt: "2021-01-04T17:27:18.337Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Millionaire Shortbread"
tags: []
content: '''
  # Millionaire Shortbread
  
  Taken from
  [Millionaire Shortbread Recipe (Caramel Shortbread) - JoyFoodSunshine](https://joyfoodsunshine.com/millionaire-shortbread-recipe/)
  
  ---
  ## Specifications
  - Total time: 4 hours 15 mins
  - Prep time: 15 mins
  - Bake time: 20-25 mins
  - Yield: 1 9x13 tray bake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Shortbread
  - 1 1/4 cups salted butter softened
  - 1/2 cup granulated sugar
  - 1 egg yolk
  - 1/2 tsp pure vanilla extract
  - 2 1/2 cups all-purpose flour
  - 1/4 tsp fine sea salt
  
  Caramel
  - 1 cup salted butter
  - 1 cup light brown sugar
  - 1/4 cup light corn syrup
  - 14 oz sweetened condensed milk
  - 1 tsp pure vanilla extract
  - 1/4 tsp fine sea salt
  
  Chocolate Topping
  - 1/2 cup heavy whipping cream
  - 1 1/2 cups semisweet chocolate (chips, chopped, etc).
  - 1/2 tsp pure vanilla extract
  
  
  ---
  ## Directions
  
  Make the Shortbread Crust
  - Line a 9x13” baking pan with parchment paper and grease.
  - In the bowl of a standing mixer, or in a large bowl with a hand-held mixer, cream together the butter and sugar until light and fluffy (about 60 seconds).
  - Add egg yolk and vanilla and beat until combined.
  - Add flour and sea salt and beat until the mixture comes together into large crumbs.
  - Press the mixture into the prepared pan in an even layer and gently poke the top all over with a fork.
  - Bake in preheated oven for 20-25 minutes, until the sides are lightly golden brown.
  - Remove from the oven and set on a wire rack to cool while you make the caramel.
  
  Make the caramel
  - Put butter, brown sugar, corn syrup, condensed milk and sea salt in a 4-quart saucepan.
  - Cook over medium-low heat until the caramel reaches 225-235 degrees F on a thermometer, stirring frequently This takes about 30-40 minutes (mine took 25 mins). Do not rush it.
  - You will know you’re getting close when the caramel becomes slightly darker brown in color (but it’s still light brown), thickens and pulls away from the sides of the saucepan as you stir. It will also remain solid when removed from the pot and left to cool or put in cold water.
  - When the caramel is finished cooking, remove from heat, add vanilla and stir vigorously.
  - Immediately pour over cooled shortbread.
  - Place bars in the refrigerator or outside on a cold day to cool and for the caramel to set. Chill for about 30-60 minutes.
  
  Make the chocolate topping
  - Once the caramel is firm, make the chocolate topping.
  - In a small saucepan, heat the heavy cream over medium heat until it just begins to bubbles around the edges, but does not boil.
  - Reduce heat to low, add chocolate chips and whisk until the mixture is smooth and glossy.
  - Remove from heat, add vanilla and whisk to combine.
  - Pour over firm caramel and let sit at room temperature or in the refrigerator until the chocolate is set (1-2 hours).
  - Cut into squares and serve at room temperature. Good at room temperature for 5-7 days.
  
  
  ---
  Notes/Comments/Suggestions
  - Shortbread was a bit crumbly
  - Used 1/2 dark chocolate and 1/2 milk chocolate. Would have preferred 100% milk chocolate
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
