createdAt: "2020-08-14T01:15:02.329Z"
updatedAt: "2020-08-14T01:19:13.825Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Ne Plus Ultra Cookies"
tags: []
content: '''
  # Ne Plus Ultra Cookies
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 30 mins
  - Bake time: 20 mins
  - Yield: unknown
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 1/2 cup (1 stick) unsalted butter, softened
  - 2/3 cup packed brown sugar
  - 1 tsp vanilla
  - 1/4 cup white sugar
  - 2 large eggs
  - 1 1/4 cup flour
  - 1/2 tsp salt
  - 1/2 tsp baking soda
  - 1 cup chocolate chips
  - 1 cup raisins
  - 1 cup pecans, peanuts, or anything coarsely chopped
  
  ---
  ## Directions
  
  - Put butter and sugars in bowl and mix until pale and fluffy.
  - Add in vanilla and eggs.
  - In another bowl sift flout, salt, and baking soda in a bowl. Add to butter mixture.
  - Stir in chocolate chips, raisins, and nuts.
  - Roll dough into balls and flatten into 1 inch across in hands before placing on a greased cookie sheet.
  - Bake. 
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
