createdAt: "2020-08-21T20:30:25.229Z"
updatedAt: "2020-08-21T20:34:45.455Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Thai-Style Chinese Doughnut (Pa Tong Go) ปาท่องโก๋"
tags: []
content: '''
  # Thai-Style Chinese Doughnut (Pa Tong Go) ปาท่องโก๋
  
  Taken from
  [Thai-Style Chinese Doughnut (Pa Tong Go) Recipe - Hot Thai Kitchen](https://hot-thai-kitchen.com/pa-tong-go/)
  
  ---
  ## Specifications
  - Total time: 4 hours
  - Prep time: 30 mins
  - Yield: 12-14 pieces
  
  ---
  ## Ingredients
  
  - 250 g all-purpose flour
  - 50 g cornstarch
  - 2 tsp vegetable oil
  - 1 tsp baker’s ammonia (ammonium bicarbonate, see above for more info)
  - 1 tsp fine table salt
  - 1 Tbsp sugar
  - 200 ml water
  - For serving: Sweetened condensed milk, coconut pandan custard, or hot fresh soy milk.
  
  
  ---
  ## Directions
  
  - Sift flour and cornstarch together into a mixing bowl.
  - Put water into a small bowl then add salt and sugar and stir until completely dissolved.
  - Add baking ammonia and stir until dissolved (don’t put your nose directly over the water so you don’t get an accidental whiff of ammonia!)
  - Stir the oil into the water and pour everything into the flour.
  - Mix with your hand just until combined and no dry flour is left, it should only take 1-2 minutes. DON’T KNEAD. The dough should be shaggy and sticky, and does not look right (but it is!). Cover and rest for 2.5-3 hours.
  - When ready to fry, preheat at least 1.5 inches of frying oil in a wide pot or wok to 375F.  Ideally, keep a deep-fry thermometer in the oil while you fry. If you don’t have a thermometer that can stay in the pot, check your oil temp often while you fry.
  - While the oil is heating, prepare a large cutting board near the oil; this is your dough-shaping station.
  - Dust the board thoroughly with flour, then turn the dough onto the board. Dust the top of the dough with more flour, then use your hands to pat the dough down into a ¼ inch thick rectangle, 7-8 inches wide, keeping the sides as straight as possible to minimize waste. Do not knead the dough and try to work it as little as possible.
  - Cut the rectangle into 3 strips (each should be about 2 ¼ – 3 inches wide). Work with 1 strip at a time and keep the other 2 covered in a barely-moist kitchen towel or plastic wrap so they don’t dry out.
  - Trim the ends of the strip to square them off, then cut the strip into 1-inch wide pieces.
  - Dip a wooden skewer or a thin chopstick into a little cup of water and paint a 1-inch vertical strip of water into the center of every OTHER piece; this will be the glue. Put the dry piece on top of the wet piece and press gently in the center to stick them together. Once you’re done forming, if the oil still has a bit of time to go, cover the pieces to prevent drying.
  - Right before you drop the pa tong go into the oil, stretch the piece out with your hands until it is about double in length and drop it into the oil. TIP: To help your oil last longer, brush off excess flour from the dough with a pastry brush before dropping them into the oil.
  - Fry in oil for AT LEAST 5 minutes, flipping often, until well browned on both sides and bubbling has subsided. Keep an eye on oil temp and try to maintain it around 375F and don’t let it drop lower than 360F. If the oil accidentally drops below 360, add a little bit more frying time to make sure all the ammonia is cooked off.
  - Place the finished pa tong go onto some paper towels to absorb the excess oil. Tip: Once the first piece is cool enough to handle, break it off and smell the inside to check if all the ammonia smell is gone. If not, you need to fry the next batch longer.
  
  
  ---
  Notes/Comments/Suggestions
  
  - Also used this recipie: [Thai Style Chinese Crullers / Mini Fried Donut (Pa Tong Go)](https://siamsizzles.com/thai-style-chinese-crullers-mini-fried-donut-pa-tong-go/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
