createdAt: "2021-01-26T05:11:26.406Z"
updatedAt: "2021-01-26T05:14:38.538Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Pad Gaprao (Pad Kra Pao) ผัดกะเพรา"
tags: []
content: '''
  # Pad Gaprao (Pad Kra Pao) ผัดกะเพรา
  
  Taken from
  [Pad Kra Pao (Pad Gaprao) - Holy Basil Chicken Stir-Fry - Hot Thai Kitchen](https://hot-thai-kitchen.com/holy-basil-stir-fry/)
  
  ---
  ## Specifications
  - Total time: 40 mins
  - Prep time: 20 mins
  - Bake time:  mins
  - Yield: 2-3 servings
  
  ---
  ## Ingredients
  
  - 5-10 Thai chilies, or to taste
  - 5 cloves garlic
  - 1 spur chilies or another mild, red pepper, chopped
  - 1/2 cup long beans, cut into short pieces
  - 1/2 small onion, diced
  - 300g chicken, coarsely ground (see video for how to grind your own chicken)
  - 1 Tbsp oyster sauce
  - 1 Tbsp soy sauce
  - 2 tsp fish sauce
  - 1 1/2 tsp black soy sauce (or sub dark soy sauce and reduce regular soy sauce to 2 tsp)
  - 2 Tbsp water
  - 1 1/2 tsp sugar
  - 1 1/2  cup holy basil leaves, loosely packed
  - Vegetable oil, as needed 
  - 2-3 eggs (1 per person)
  - Jasmine rice for serving
  - Prik Nam Pla (condiment for seasoning the egg, optional): Mix together some fish sauce, a squeeze of lime juice, chopped Thai chilies, and chopped garlic.
  
  ---
  ## Directions
  
  For Pad Gaprao
  - Pound Thai chilies into a fine paste.
  - Add garlic and spur chilies and pound into a rough paste.
  - Combine oyster sauce, soy sauce, fish sauce, black soy sauce, water and sugar; stir to dissolve the sugar.
  - In a wok or a large saute pan, saute the garlic-chili paste in a little vegetable oil over medium high heat until the garlic starts to turn golden.
  - Add chicken and toss until they're no longer in big clumps. Add the sauce and continue tossing until the chicken is almost done.
  - Add onions and long beans; toss until the chicken is done.
  - Remove from heat and stir in the holy basil.
  - Taste and adjust seasoning as needed.
  
  For the fried egg:
  
  - Heat about 1 cm of vegetable oil in a small non-stick pan or a wok over medium high heat.
  - Once the oil is hot (you want the oil very hot, especially if you like runny yolk), crack the egg directly into the pan and let it fry until the edges are browned and bubbly.
  - Serve the stir-fry over rice and top it with the fried egg. Drizzle a little of the prik nam pla over the egg and enjoy!
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
