createdAt: "2019-10-17T17:56:16.796Z"
updatedAt: "2019-12-27T21:11:25.558Z"
type: "MARKDOWN_NOTE"
folder: "1f1c59a904669f075a52"
title: "Pan de Yuca"
tags: []
content: '''
  # Pan de Yuca
  
  Taken from
  - Katherine
  
  ---
  ## Specifications
  - Total time:  mins
  - Prep time:  mins
  - Yield: 30 rolls
  - Oven temp: 400 F
  
  ---
  ## Ingredients
  - 2 ½ cups yuca or cassava starch - sometimes also called yuca flour or tapioca starch/flour
  - 4 cups grated mozzarella cheese (can also use half mozzarella & half queso fresco, cotija or quesillo)
  - 1 tsp baking powder
  - Pinch of salt
  - 1 stick of butter (4 oz or 113 grams), room temperature, cut into 8 pieces
  - 2 large eggs
  - 2-4 tablespoons of water (or milk), add more if the dough is dry
  
  ---
  ## Directions
  - Combine the yuca starch or flour, cheese, baking powder and salt in a food processor, blend to mix well.
  - Add the butter and eggs.
  - Mix until small dough balls begin to form, if it's too dry add 1-2 tablespoons of water or milk. Add more if needed.
  - Remove the dough from the food processor and roll into a ball, you can make the dough ahead and store in the refrigerator for up to a day.
  - To make the dough by hand, combine all the ingredients in large bowl, using melted (cooled down) butter, and mix until you have a smooth dough. It's actually very easy to prepare by hand.
  - Pre-heat the oven to 400 F.
  - Make small round shaped breads with the dough and place on a cookie sheet with parchment paper.
  - Bake immediately or store in the fridge until ready to bake. I find that they turn out best if you do let them chill in the fridge for about 30 minutes before baking.
  - Pre-heat the oven to 400F and bake at 400F for about 5 minutes and then turn on the broiler.
  
  ---
  Additional Notes
  - Can be stored in the freezer and baked whenever without dethawing
  - I froze them without a lid so they dried out a litte, were very good and crunchy when mixed with adobo powder/
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
