createdAt: "2020-04-24T19:02:57.556Z"
updatedAt: "2020-04-24T19:07:26.804Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Peanut Butter Cookies"
tags: []
content: '''
  # Peanut Butter Cookies
  
  Taken from
  [Easy Peanut Butter Cookies {Homemade} \\| SimplyRecipes.com](https://www.simplyrecipes.com/recipes/peanut_butter_cookies/)
  
  ---
  ## Specifications
  - Total time: 4 hours
  - Prep time: 30 mins
  - Bake time: 30 mins
  - Yield: 24 cookies
  - Oven temp: 300 F
  
  ---
  ## Ingredients
  
  - 1/2 cup butter (1 stick, 4 ounces, 112 g), room temperature
  - 1/2 cup (100 g) white granulated sugar
  - 1/2 cup (110 g) packed brown sugar
  - 1/2 cup (130 g) peanut butter
  - 1 large egg
  - 1 1/4 cups (160 g) all purpose flour
  - 3/4 teaspoon baking soda
  - 1/2 teaspoon baking powder
  - 1/4 teaspoon salt
  
  ---
  ## Directions
  
  - Beat the butter until creamy, 2 minutes. Add the brown sugar and white sugar, beat for 2 more minutes. Mix in the peanut butter and the egg.
  - In a separate bowl, vigorously whisk together the dry ingredients—the flour, baking soda, baking powder and salt. Stir the dry ingredients into the sugar butter mixture.
  - Chill the dough: Wrap dough in plastic and refrigerate at least 3 hours.
  - Shape the dough into 1 1/4 inch balls. Place the balls of dough about 3 inches apart on un-greased cookie sheet. Flatten in crisscross pattern with a fork.
  - Bake at 300°F (190°C) until light brown, about 9 to 10 minutes. (Remove the cookies from the oven and let cool in their baking sheets for a minute. After a minute, transfer the cookies to a rack to cool completely.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
