createdAt: "2020-04-24T19:32:51.123Z"
updatedAt: "2020-04-24T19:34:53.013Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "No-Bake Peanut Butter Cookies II"
tags: []
content: '''
  # No-Bake Peanut Butter Cookies II
  
  Taken from
  [No-Bake Peanut Butter Cookies III Recipe - Allrecipes.com \\| Allrecipes](https://www.allrecipes.com/recipe/26183/no-bake-peanut-butter-cookies-iii/)
  
  ---
  ## Specifications
  - Total time: 10 mins
  - Prep time: 5 mins
  - Yield: 24 cookies
  
  ---
  ## Ingredients
  
  - 1-1/2 cups white sugar
  - 1/4 cup and 2 tablespoons butter
  - 1/4 cup and 2 tablespoons milk
  - 1/4 teaspoon vanilla extract
  - 3/4 cup peanut butter
  - 2-1/4 cups quick-cooking oats
  
  ---
  ## Directions
  
  - In a saucepan over medium heat, combine sugar, butter and milk. Bring to a rapid boil and boil for one full minute. 
  - Remove from heat and stir in the vanilla and peanut butter. 
  - Mix in the oats, stirring until the mixture begins to cool. Transfer to a large bowl if it does not fit into the pan well. 
  - Drop batter by teaspoonfuls onto waxed paper. Let cool until set.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
