createdAt: "2021-08-17T21:38:20.157Z"
updatedAt: "2021-08-17T21:42:47.790Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Pumpkin Cupcakes with Cream Cheese Frosting"
tags: []
content: '''
  # Pumpkin Cupcakes with Cream Cheese Frosting
  
  Taken from
  [Pumpkin Cupcakes with Cream Cheese Frosting \\| Brown Eyed Baker](https://www.browneyedbaker.com/pumpkin-cupcakes-with-cream-cheese-frosting/)
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 30 mins
  - Bake time: 18-22 mins
  - Yield: 12 cipcakes
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  For the Cupcakes:
  - 1 1/3 cups (166.67 g) all-purpose flour
  - 1 teaspoon baking powder
  - 1 teaspoon baking soda
  - 1/2 teaspoon (0.5 teaspoon) salt
  - 1/2 teaspoon (0.5 teaspoon) ground cinnamon
  - Pinch of ground nutmeg
  - Pinch of ground cloves
  - 3/4 cup (183.75 g) canned pumpkin
  - 1/2 cup (100 g) granulated sugar
  - 1/2 cup (110 g) dark brown sugar
  - 1/2 cup (109 ml) vegetable oil
  - 2 eggs
  
  For the Cream Cheese Frosting:
  - 1 cup (227 g) unsalted butter, at room temperature
  - 8 ounces (226.8 g) cream cheese, at room temperature
  - 2 1/2 teaspoons (2.5 teaspoons) vanilla extract
  - Pinch of salt
  - 4 cups (480 g) powdered sugar
  
  ---
  ## Directions
  
  Cupcakes:
  - Preheat oven to 350 degrees F. Line a 12-cup muffin pan with paper liners; set aside.
  - In a medium bowl, whisk together the flour, baking powder, baking soda, salt, cinnamon, nutmeg and cloves; set aside.
  - In a large bowl, whisk together the pumpkin, both sugars and the vegetable oil until completely combined, making sure to break up any chunks of brown sugar so no lumps remain. 
  - Whisk in the eggs, one at a time. 
  - Add the flour mixture in two additions, folding with a rubber spatula until no flour pockets remain.
  - Divide the batter between the baking cups, filling each about two-thirds full. Bake until a skewer inserted into the center comes out clean, 18 to 22 minutes. Allow to cool in the pan for 5 to 10 minutes, then remove to a wire rack. Allow the cupcakes to cool completely before frosting.
  
  Frosting:
  - With an electric mixer on medium-high speed, beat the butter until fluffy, 2 to 3 minutes. Add the cream cheese, vanilla and salt and continue to beat for an additional 2 minutes, scraping the sides of the bowl as needed. 
  - Reduce the mixer speed to low and add the powdered sugar gradually and mix until smooth and combined, scraping down sides of bowl as needed. 
  - Increase the mixer speed to medium-high and beat until light and fluffy, 1 to 2 minutes.
  - Using a decorating bag and tip or an offset spatula, frost the tops of the cupcakes. 
  - The cupcakes can stay at room temperature for a few hours, but should be refrigerated for longer-term storage up to 4 days.
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
