createdAt: "2020-08-12T14:21:46.377Z"
updatedAt: "2020-08-12T14:28:22.069Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Snickerdoodles"
tags: []
content: '''
  # Snickerdoodles
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 40 mins
  - Prep time: 20 mins
  - Bake time: 12-15 mins
  - Yield: unknown
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  - 2 3/4 cup flour
  - 2 tsp baking powder
  - 1/2 tsp salt
  - 1 cup (2 sticks) unsalted butter, softened
  - 1 1/2 cup sugar (for cookie batter) + 2 tbsp sugar (for rolling cookies)
  - 2 large eggs
  - 2 tsp cinnamon
  
  ---
  ## Directions
  
  - Sift flour, baking powder, and salt into bowl. 
  - In another bowl mix butter and sugar until pale and fluffy.
  - Mix in eggs.
  - Gradually mx in flour mixture.
  - Stir together remaining 2 tbsp sugar and cinnamon in a small bowl.
  - Shape dough into balls and roll in cinnamon sugar.
  - Bake.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
