createdAt: "2021-02-09T18:16:10.124Z"
updatedAt: "2021-02-09T18:20:16.307Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Snickerdoodle Mug Cake"
tags: []
content: '''
  # Snickerdoodle Mug Cake
  
  Taken from
  [Snickerdoodle Mug Cake ~ THE BEST MUG CAKE! • FIVEheartHOME](https://www.fivehearthome.com/snickerdoodle-mug-cake/)
  
  ---
  ## Specifications
  - Total time: 5 mins
  - Yield: 1 mug cake
  
  ---
  ## Ingredients
  
  For cake:
  - 1/4 cup + 2 tablespoons all-purpose flour
  - 2 tablespoons sugar
  - 1/4 teaspoon baking powder
  - 1/4 teaspoon cinnamon
  - 1/4 cup milk
  - 2 tablespoons salted butter, melted
  - 1/2 teaspoon pure vanilla extract
  
  For layering/topping:
  - 1 tablespoon sugar
  - 1/4 teaspoon cinnamon
  
  ---
  ## Directions
  
  - In a small bowl, whisk together flour, sugar, baking powder, and cinnamon until thoroughly, completely combined, with no streaks of any ingredients remaining. 
  - Blend in milk, butter, and vanilla until batter is smooth. 
  - Into a 14-ounce (or larger) microwave-safe mug with straight sides, scoop a big spoonful of batter, then sprinkle with a spoonful of cinnamon sugar. Alternate layers, ending with cinnamon sugar.
  - Microwave on high for 75 seconds.
  
  ---
  Notes/Comments/Suggestions
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
