createdAt: "2020-07-09T23:05:17.712Z"
updatedAt: "2020-07-09T23:08:41.217Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Spicy Thai Pork and Basil Spaghetti"
tags: []
content: '''
  # Spicy Thai Pork and Basil Spaghetti
  
  Taken from
  [Spicy Thai Pork & Basil Spaghetti - Marion's Kitchen](https://www.marionskitchen.com/spicy-thai-pork-basil-spaghetti/)
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 40 mins
  - Yield: 2 servings
  
  ---
  ## Ingredients
  
  - 4 garlic cloves
  - 4 birds’ eye chillies (or to taste)
  - 1 large mild chilli
  - 200g (7 oz) spaghetti
  - 2 tbsp vegetable oil
  - 400g (14 oz) pork mince
  - 50g (1.7 oz) finely sliced green beans
  - 4 tbsp oyster sauce
  - 1 tbsp fish sauce
  - 1 tbsp soy sauce
  - 1 tsp sugar
  - 1 cup basil leaves*
  - sea salt
  - hard boiled eggs if desired
  
  ---
  ## Directions
  
  - Bring a large pot of salted water to the boil. When the water is boiling, add the pasta.
  - Use a mortar and pestle to pound the garlic, chillies and a pinch of salt to a very rough paste.
  - Heat the oil in a large frying pan over medium-high heat. Add the garlic chilli paste and cook for 30 seconds. Then add the pork mince and stir-fry for 1-2 minutes or until just cooked. Toss through the green beans. Then add the oyster sauce, fish sauce, soy sauce and sugar. Stir-fry until just combined. Turn the heat off and toss through the basil leaves. Keep warm while the pasta finishes cooking.
  - When the pasta is al dente, scoop up and reserve a cup of the pasta cooking water. Turn the heat to high under the pork mixture and add the pasta straight into the pan. Toss the pasta in the sizzling pork sauce for 1-2 minutes or until thick and glossy (add in a little pasta cooking water if the mixture is too dry for your liking). Pile onto serving plates. Top with a boiled egg. 
  
  
  ---
  Notes/Comments/Suggestions
  - Try to find Thai ‘gaprao’, also known as holy or spicy basil, but Thai basil or Italian is fine too
'''
linesHighlighted: []
isStarred: false
isTrashed: false
