createdAt: "2020-11-14T02:42:18.140Z"
updatedAt: "2020-11-23T15:54:29.457Z"
type: "MARKDOWN_NOTE"
folder: "2aedad6f3d72b605e1ce"
title: "Thanksgiving Notes 2020"
tags: []
content: '''
  # Thanksgiving Notes 2020
  
  
  ## Schedule
  ---
  
  Wednesday
  - 4:30-5:30 break down turkey, get sous vide ready and season bird
  - 5:30pm get thighs sous vide (cook until 3:30am)
  - 5:40-6:40 roast turkey stuff 
  - 6:40-9:00 bake pies, prep bread to rest overnight
  
  Thursday
  - 3:30 am get turkey breasts in sous vide (cook until 1:30 pm)
  - 11:45 am prep corn Mac, boil potatoes, prep stuffing, gravy
  - 12:00 pm prep bread
  - 1:30 bake bread
  - 3:00 eat
  
  
  ## Wednesday Nitty Gritty
  ---
  
  ### Pumpkin Pie
  - 
  
  
  ### Pecan Pie
  - [Pecan Pie recipe](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/desserts/Pecan_Pie.md)
  
  
  ### Cloverleaf Rolls
  - [No Knead Cloverleaf Rolls recipe](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/breads/No_knead_Cloverleaf_Rolls.md)
  
  
  ### Three Sisters Bowl
  - [Three Sisters Bowl](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/entrees/Three_Sisters_Bowl.md)
  
  ### Turkey
  - [Chef Steps Video for Turkey Butchery](https://www.youtube.com/watch?v=R-oONZgDT0M&ab_channel=ChefSteps)
  
  
  ---
  ## Thursday Nitty Gritty
  ---
  
  ### Gravy
  - 
  
  
  ### Corn Mac
  - 
  
  
  ### Turkey
  - 
  
  
  ### Mashed Potatoes
  - 
  
  
  ### Stuffing
  - 
  
  
  ### Green Bean Casserole
  - 
  
  
  ---
  ## Modifications for 2021
  --- 
  
  What did you like?
  
  What would you change?
  
  
  ---
  ## Shopping List
  ---
  
  Non-perishables or freezable
  - 15 pound turkey
  - 1 large can cream of mushroom soup
  - 1 box French fried onions
  - 1 bottle Martinelli's sparking cider
  - 1 can cranberry sauce
  - 2 boxes of butter
  - Kosher Salt
  - 4 boxes of Stove Top stuffing mix
  - 1 can sweet corn
  - pasta shells or elbows
  - 1 aluminium pan for turkey
  - 3 aluminium pans for mac + stuffing + three sisters
  - 1 bag flour
  - 1 ½ cup chardonnay wine
  - Breadcrumbs
  - 1 ½ tsp mustard
  - 2 cans hominy (white + yellow)
  - 1 can kidney beans
  - vegetable shortening
  - dark corn syrup
  - frozen green beans (or fresh)
  - cornstarch
  - 1 can pumpkin puree
  - 1 can evaporated milk
  
  Perishables
  - 3 garlic bulbs
  - Small whole bag of carrots
  - 1 head of celery
  - 4 onions
  - Package shiitake mushrooms (8-9)
  - 1 mini-milk (12 fl oz) full milk
  - Whole bag shredded kraft cheddar cheese
  - 2-3 tbsp locally sourced sharp cheddar cheese
  - 2-3 tbsp shredded local muenster cheese
  - ~3 crushed bay leaves
  - couple leaves sage
  - some parsley
  - thyme
  - 1 acorn squash
  - eggs
  - potatoes
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
