createdAt: "2020-11-14T02:42:18.140Z"
updatedAt: "2020-12-17T13:58:35.211Z"
type: "MARKDOWN_NOTE"
folder: "2aedad6f3d72b605e1ce"
title: "Thanksgiving Notes 2020"
tags: []
content: '''
  # Thanksgiving Notes 2020
  
  
  ## Schedule
  ---
  
  Wednesday
  - 4:30-5:30 break down turkey, get sous vide ready and season bird
  - 5:30pm get thighs sous vide (cook until 3:30am)
  - 5:40-6:40 roast turkey stuff 
  - 6:40-9:00 bake pies, prep bread to rest overnight
  
  Thursday
  - 3:30 am get turkey breasts in sous vide (cook until 1:30 pm)
  - 11:30 AM prep corn mac
  - 11:40 AM prep bread
  - 12:00 pm prep stuffing, peel potatoes
  - 12:15 PM make gravy, boil potatoes
  - 1:30 PM bake bread
  - 2:00 PM heat sweet potatoes, three sisters, corn mac, stuffing
  - 2:20 PM Make rice, cut cranberry sauce, make table, fry turkey
  - 3:00 eat
  
  
  ## Wednesday Nitty Gritty
  ---
  
  ### Pumpkin Pie
  - Follow directions on can. 
  - Pie crust is from pecan pie.
  - Follow pecan pie instructions for pre-baking pie crusts.
  
  
  ### Pecan Pie
  - [Pecan Pie recipe](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/desserts/Pecan_Pie.md)
  
  
  ### Cloverleaf Rolls
  - [No Knead Cloverleaf Rolls recipe](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/breads/No_knead_Cloverleaf_Rolls.md)
  - Watch proofing on bread, it's easy to over-proof.
  - Use leftover thyme, rosemary, and sage with melted butter to brush over buns once near finish.
  
  
  ### Three Sisters Bowl
  - [Three Sisters Bowl](https://github.com/merrittburch/recipe_protocols/blob/master/recipes/entrees/Three_Sisters_Bowl.md)
  - Tasted good but might not include next year. 
  
  
  ### Turkey
  - [Chef Steps Video for Turkey Butchery](https://www.youtube.com/watch?v=R-oONZgDT0M&ab_channel=ChefSteps)
  
  
  ---
  ## Thursday Nitty Gritty
  ---
  
  ### Gravy
  - 2 boxes mushrooms
  - celery
  
  
  ### Corn Mac
  - 4 oz butter
  - 4 oz flour
  - 1 pound noodles
  - 1 block sharp cheese
  - 1 block mozzarella cheese
  - 1 block cheddar cheese
  - 1 can sweet corn 
  - mustard
  - white pepper
  - Worcestershire sauce
  - 2 slices of American cheese
  - panko breadcrumbs for topping
  
  
  ### Turkey
  - 13 pound turkey
  - box sage
  - box rosemary
  - box thyme
  - box bay leaves
  
  
  ### Mashed Potatoes
  - 2 sticks of Irish butter cut into 1 inch cubes
  - 1 pound of potatoes
  - heavy cream
  
  
  ### Stuffing
  - 2 pieces of celery finely chopped
  - 1 carrot finely chopped
  - gravy
  - butter
  
  
  ### Green Bean Casserole
  - 2 bags frozen green beans, thawed
  - 1 large can cream of mushroom soup
  - 1 box French fried onions
  - Soy sauce
  - ton of salt
  
  
  ---
  ## Modifications for 2021
  --- 
  
  What did you like?
  - Purchased a 13 pound turkey. Was a very good size. 
  - 1 can of cranberry sauce.
  - Panko on top of mac and cheese was nice. 
  - We finished early!
  - Taylor's sweet potatoes were fantastic, would be great to incorporate to our meal next year.
  - Good amount of mashed potatoes
  - Timing was great, started at 11:30 AM and we finished early at 2:44 PM. 
  
  
  What would you change?
  - Forgot to add green bean casserole to the protocol, also forgot to defrost the green beans the night before. Ended up cooking the day after. Stick to 1 bag of green beans, almond milk, 1 can of cream of mushroom.
  - Less leftovers!
  - Only one box of stuffing
  - Half, or even one third of a box of mac and cheese
  - No three sisters salad next year
  - Half a recipe of cloverleaf rolls
  
  
  ---
  ## Shopping List
  ---
  
  Non-perishables or freezable
  - 15 pound turkey
  - 1 large can cream of mushroom soup
  - 1 box French fried onions
  - 1 bottle Martinelli's sparking cider
  - 1 can cranberry sauce
  - 2 boxes of butter
  - 2 blocks Irish butter
  - Kosher Salt
  - 3 boxes of Stove Top stuffing mix
  - 1 can sweet corn
  - pasta shells or elbows
  - 1 aluminium pan for turkey
  - 3 aluminium pans for mac + stuffing + three sisters
  - 1 bag flour
  - 1 ½ cup chardonnay wine
  - Panko breadcrumbs
  - 1 ½ tsp mustard
  - 2 cans hominy (white + yellow)
  - 1 can kidney beans
  - vegetable shortening
  - dark corn syrup
  - 2 bags frozen green beans (or fresh)
  - cornstarch
  - 1 can pumpkin puree
  - 1 can evaporated milk
  
  Perishables
  - 3 garlic bulbs
  - Small whole bag of carrots
  - 1 head of celery
  - 4 onions
  - 2 Packages mushrooms
  - 1 mini-milk (12 fl oz) full milk
  - 1 box heavy cream
  - 1 block sharp cheddar cheese
  - 1 block mozzarella cheese
  - 1 block cheddar cheese
  - ~3 crushed bay leaves
  - couple leaves sage
  - some parsley
  - thyme
  - 1 acorn squash
  - 2 dozen eggs
  - potatoes
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
