createdAt: "2020-11-12T23:36:49.588Z"
updatedAt: "2020-11-12T23:47:13.270Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "The Ultimate Cheesecake with Strawberry Topping"
tags: []
content: '''
  # The Ultimate Cheesecake with Strawberry Topping
  
  Taken from
  Merritt's Cookbook
  
  ---
  ## Specifications
  - Total time: 6 hours
  - Prep time: 60 mins
  - Bake time: 45 mins
  - Yield: 1 cheesecake
  - Oven temp: 350 F
  
  ---
  ## Ingredients
  
  Crust
  - 2 cups ground Graham Crackers (30 squares)
  - 1/2 tsp cinnamon
  - 1 stick unsalted butter, melted
  
  Filling
  - 1 pound cream cheese (2 8oz blocks) softened
  - 3 eggs
  - 1 cup sugar
  - 1 pint sour cream
  - 1 lemon, zested
  - 1 dash vanilla extract
  
  Topping
  - 1 (10 oz) package frozen strawberries
  - 1/4 cup granulated sugar
  - 1/4 cup lemon juice
  - 1 tsp vanilla
  
  ---
  ## Directions
  
  Crust
  - Line spring-form pan with oil
  - Mix butter, graham crackers, and cinnamon
  - Push crust into bottom and slightly up the sides of the spring-form pan.
  
  Filling
  - Beat cream cheese until smooth.
  - Add in eggs, one at a time until creamy.
  - Add sour cream, lemon zest, and vanilla.
  - Pour filling into pan wrapped in aluminium foil and bake on top of a roasting pan.
  - The middle should still jiggle.
  - Let cool for 30 minutes before refrigerating for 4 hours. 
  - Loosen sides of cheesecake with a knife before removing from spring-form pan.
  
  Topping
  - Heat all ingredients in a saucepan until it boils under medium heat.
  - Turn heat down to a simmer once boiling and let simmer gently for 10 minutes and stir occasionally. 
  - Gently crush strawberries down to a pulp. 
  
  ---
  Notes/Comments/Suggestions
  - Could use mixed berries or fresh berries but that would take longer.
  - Too much juice from this method, consider reducing mixture until it gets thick.
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
