createdAt: "2020-04-24T19:26:58.612Z"
updatedAt: "2020-04-24T19:30:35.933Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "Tres Leches Cake with Dulce de Leche Glaze"
tags: []
content: '''
  # Tres Leches Cake with Dulce de Leche Glaze
  
  Taken from
  [Tres Leches Cake with Dulce de Leche Glaze - Once Upon a Chef](https://www.onceuponachef.com/recipes/tres-leches-cake-with-dulce-de-leche-glaze.html)
  
  ---
  ## Specifications
  - Total time: 9 hours plus 8 hours to chill in fridg
  - Prep time: Unknown
  - Bake time: 35 mins
  - Yield:  Twenty-four 2-inch squares
  - Oven temp: 325 F
  
  ---
  ## Ingredients
  
  FOR THE CAKE
  - 3 large egg yolks
  - 1/3 cup vegetable oil
  - 1/2 cup water
  - 2 teaspoons vanilla extract
  - 1-1/2 cups all-purpose flour, spooned into measuring cup and leveled-off with a knife
  - 1 cup sugar, divided
  - 2 teaspoons baking powder
  - 5 large egg whites
  - 1/8 teaspoon salt
  
  FOR THE SOAKING MIXTURE
  - 1 (12-oz) can evaporated milk
  - 1 (14-oz) can sweetened condensed milk
  - 1/4 cup plus 2 tablespoons heavy cream
  - 3 tablespoons dark rum
  
  FOR THE GLAZE
  - 1 (13-oz) can dulce de leche, preferably Nestle
  - 1 tablespoon dark rum
  - 1/4 cup water
  
  ---
  ## Directions
  
  - Preheat the oven to 325°F and set a rack in the middle position.
  - In a medium bowl, whisk together the egg yolks, oil, water and vanilla.
  - In the bowl of an electric mixer fitted with the paddle attachment or beaters, combine the flour, 3/4 cup of the sugar, and the baking powder; mix on low speed for 20 seconds to combine. Add the egg mixture to the flour mixture and beat (start slow to combine then increase to medium for stand mixer/medium-high for hand mixer) for one minute to aerate it slightly. Scrape down the sides of the bowl with a rubber spatula and beat for just a few seconds more. Set aside.
  - In a clean, dry mixing bowl, combine the egg whites and salt. Using the whisk attachment or beaters, whip the egg whites (on medium speed for a stand mixer/medium-high speed for a hand mixer) until they are white, foamy, and beginning to hold a very soft peak, 40 to 60 seconds. Increase the speed (medium-high for stand mixer/high for hand mixer) and gradually add the remaining 1/4 cup of sugar in a slow stream. Continue whipping the mixture until it is shiny and holds stiff peaks, 2 to 3 minutes.
  - Using a large rubber spatula, add 1/4 of the egg white mixture into the batter and mix thoroughly. Add the remaining egg whites to the lightened batter and gently fold until the batter is uniform. Do not over-mix. Scrape the batter into an ungreased 9x13-in glass or ceramic baking dish (do not use metal) and smooth the top (note that it's very important NOT to grease the pan). Bake the cake for 45 to 50 minutes, or until it is set and golden.
  - Let the cake sit on the stovetop for 1 to 2 minutes, until the cake settles (you want it to deflate just slightly, so that the top of the cake is level with rim of the pan), then invert four glasses onto the countertop and invert the cake pan onto them, positioning one in each corner of the pan. (A chiffon cake needs to hang upside down to cool or it will collapse and fall.) Let cool for 1 hour.
  - Once the cake has cooled, flip it over and run a sharp, thin-bladed knife around the edge of the pan to loosen the cake from the sides. Poke holes in the cake with a skewer or point of a small, sharp knife at 1/2-in intervals.
  - Prepare the soaking liquid: in a large bowl, whisk together the evaporated milk, sweetened condensed milk, heavy cream and rum. Slowly pour or spoon the soaking liquid over the cake, tilting the pan every so often to help it absorb evenly. Be patient: this process takes about 10 minutes. If the cake is slow to absorb, run a knife around the edges of the cake again and poke a few more holes. Don't worry if it looks like a mess; it all gets covered with the glaze anyway. Place the cake in the refrigerator, uncovered, to chill for at least 8 hours or overnight.
  - Once the cake has chilled, make the glaze: in a medium microwave-safe bowl, combine the dulce de leche, rum and water. (Note: If you want a really boozy cake, change the proportions in the glaze to 3 tablespoons water and 2 tablespoons rum). Heat for 30 to 60 seconds in the microwave to soften the dulce de leche, then whisk until completely smooth. Let the mixture cool to room temperature, then spread over the cake, swirling artistically with an offset spatula or butter knife. Place the cake back in the refrigerator until ready to serve. Serve with fresh fruit, if desired.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
