createdAt: "2019-12-21T16:21:29.688Z"
updatedAt: "2019-12-21T16:25:16.642Z"
type: "MARKDOWN_NOTE"
folder: "d479497987dceba891df"
title: "White Chocolate Dipped Ginger Cookies"
tags: []
content: '''
  White Chocolate Dipped Ginger Cookies
  
  Taken from
  [White Chocolate Dipped Ginger Cookies - Cooking Classy](https://www.cookingclassy.com/white-chocolate-dipped-ginger-cookies/)
  
  ---
  Specifications
  - Total time: 30 mins
  - Prep time: 10 mins
  - Bake time: 20 mins
  - Yield: 30 cookies
  - Oven temp: 350 F
  
  ---
  Ingredients
  
  - 2 1/4 cups all-purpose flour
  - 1 tsp baking soda
  - 1/2 tsp salt
  - 2 tsp ground ginger
  - 1 tsp ground cinnamon
  - 1/4 tsp ground cloves
  - 1/4 tsp ground nutmeg
  - 3/4 cup unsalted butter , softened
  - 1/2 cup + 3 Tbsp granulated sugar , divided
  - 1/2 cup packed light-brown sugar
  - 1 large egg
  - 1/4 cup molasses
  - 2 tsp vanilla extract
  - 3 cups white chocolate chips
  - 3 Tbsp shortening
  - Red and green candy melts (or tinted royal icing)*
  
  ---
  Directions
  
  - In a mixing bowl whisk together flour, baking soda, salt, ginger, cinnamon, cloves and nutmeg for 20 seconds, set aside.
  - In the bowl of an electric stand mixer fitted with the paddle attachment, cream together butter, 1/2 cup granulated sugar and brown sugar until well blended.
  - Mix in egg, then blend in molasses and vanilla. With mixer set on low speed, slowly add in dry ingredients and mix until combined. Cover bowl with plastic wrap and chill 1 hour. Preheat oven to 350 degrees during last 10 minutes of chilling.
  - Scoop dough out about 1 1/2 Tbsp at a time, shape into balls then roll in remaining 3 Tbsp granulated sugar.
  - Transfer to Silpat or parchment paper lined baking sheets, spacing cookies 2 inches apart (keep dough chilled that is not currently baking), flatten tops just slightly (to evenly level). Bake in preheated oven 8 - 10 minutes.
  - Cool on baking sheet several minutes then transfer to a wire rack to cool completely.
  
  Decoration
  
  - In a microwave safe bowl, melt 1 cup white chocolate chips with 1 Tbsp shortening at a time in microwave on HIGH power in 10 second intervals, stirring between intervals, until melted, smooth and fairly runny (I did batches of it because it will cool as your dipping, plus its easy to burn so you don't want to work with too much of it at a time.
  - Then once you've used it up melt more, you may not need all 3 cups). Dip half of each cookie in melted white chocolate mixture then run bottom of cookie slightly along edge of bowl to remove excess, then return to Silpat or parchment paper to set at room temperature.
  - If doing the holly decoration, melt candy melts according to directions on package (I worked in small batches because it sets quickly, maybe 9 chips at a time, plus you won't need much). Pour into a piping bags fitted with a #4 tip and pipe decorations. Allow to set a room temperature.
  - *You can also use the holly sprinkles that some grocery stores and craft stores carry around the holidays.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: []
isStarred: false
isTrashed: false
