createdAt: "2020-08-18T14:29:53.723Z"
updatedAt: "2020-08-18T14:34:29.400Z"
type: "MARKDOWN_NOTE"
folder: "6364bd6f3db11cd0704e"
title: "Yen Ta Fo “Pink Noodle Soup” เย็นตาโฟ"
tags: []
content: '''
  # Yen Ta Fo “Pink Noodle Soup” เย็นตาโฟ
  
  Taken from
  [Yen Ta Fo "Pink Noodle Soup" เย็นตาโฟ](https://hot-thai-kitchen.com/yen-ta-fo/)
  
  ---
  ## Specifications
  - Total time: 60 mins
  - Prep time: 30 mins
  - Yield: 4 servings
  
  ---
  ## Ingredients
  
  Yen Ta Fo Sauce
  - 4 cubes Chinese red bean curd
  - 2 Tbsp red bean curd liquid
  - 3 Tbsp Sriracha hot sauce (if you’re making this for kids and you want NO heat at all, you can substitute ketchup)
  - 5 Tbsp white vinegar
  - 3 Tbsp sugar
  - 4 cloves garlic
  - 1–2 Thai chilies, optional
  - 2 tsp fish sauce
  
  The Broth
  (This is a basic broth you can use for regular noodle soup!)
  - 720 ml pork stock, unsalted (or sub chicken stock, see note)
  - 2 tsp soy sauce
  - 1/4 tsp salt 
  - 1/2 tsp sugar
  - A dash white pepper
  
  Noodle Soup Components
  - Noodles, any kind you like in your soup. For dry rice noodles, soak them in water until softened and drain.
  - Protein options:  fish balls, shrimp balls, squid balls, fish cakes, or any kind of Asian style seafood balls/cakes. These are available at Asian grocery stores at the seafood counter, in the refrigerated section, or in the frozen section. You can also just use fresh seafood if you can’t find these.
  - Vegetables: water spinach or regular spinach leaves, a handful per person
  - Fried garlic & garlic oil (see instructions)
  - Chopped cilantro and/or green onion for garnish
  - Other common toppings: Tofu puffs, fried wonton wrappers, cooked chicken or pork blood, and if you’re in Thailand, preserved squid is a classic in Yen Ta Fo (but I don’t like it!).
  
  ---
  ## Directions
  
  For the Yen Ta Fo sauce: 
  - Combine all ingredients and blend until smooth. Simmer gently over low heat for 3-4 minutes to cook the garlic and the chilies.
  
  For the broth:
  - Bring the broth to a boil and add all the seasoning. Taste and add more salt as needed, it should be seasoned strongly enough to be a stand-alone broth for regular noodle soups. Keep the broth hot over very low heat while you prep the noodles.
  
  For fried garlic:
  - Chop a head of garlic and add to a small pot or wok. Add just enough oil to almost cover the garlic. Turn the heat on medium until the garlic starts to bubble, then turn the heat down to maintain gentle bubbling. Fry the garlic, stirring frequently, until the garlic is golden. Remove from heat and pour into a bowl immediately to stop the cooking. If you want to keep the garlic crispy you can drain it from the oil and keep them separate.
  
  Assembly:
  - Bring a large pot of water to a simmer and add your fish balls/cakes and tofu puffs and leave them in there to heat up while you blanch other things (this is not what I did in the video, but it works better!).
  - Blanch your noodles in a strainer; how long this takes depends on what type of noodles you are using, but if using rice noodles that are fully cooked like I did in the video, or if using thin dry rice noodles that have been soaked in water, it should take just 5 seconds. Be careful not to overcook because remember they will be soaking in hot soup later! Drain well and add to serving bowls.
  - Blanch your vegetables for a few seconds just until wilted, drain well and add to bowls. Take out the fish balls and tofu and add to bowls. Add about 1 – 1½ tablespoon of Yen Ta Fo sauce per bowl (you can add more later if you like), sprinkle with a teaspoon of fried garlic and oil, and pour the hot broth over. Sprinkle with chopped cilantro and/or green onions, and garnish with fried wontons, if using.
  
  ---
  Notes/Comments/Suggestions
'''
linesHighlighted: [
  15
]
isStarred: false
isTrashed: false
